.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.meal {
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
 
}
.img{
  background: url(https://res.cloudinary.com/dybiiddob/image/upload/v1677316093/breakfast-omelette-with-radish-green-arugula-sandwich-with-salmon-white-plate-frittata-italian-omelet-top-view_ga66lj.jpg); 
  background-size: cover;
  background-position: center;
  height: 30vh;
  
 
}

.meal img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
}

.meal h2 {
  margin: 0;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}

.instructions{
  width: 50%;
  color: white;
}

.meal ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: left;
  color: white;
}

.meal ul li {
  margin: 5px 0;
  color: white;
}
